AnchorPane{
    maxHeight:"-Infinity";
    maxWidth:"-Infinity";
    minHeight:"-Infinity";
    minWidth:"-Infinity";
    prefHeight:"750.0";
    prefWidth:"600.0";
    -fx-background-color: rgb(48,75,100);
    -fx-border-color: rgb(72,147,217);
    -fx-border-width: 15px;
}